{% extends 'base.html.twig' %}

{% block title %}QB {{ questions|first.quizID|first.name }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/play_quiz.css') }}">
{% endblock %}
{% block content %}
    {% if questions|first.quizID|first.isActive %}

        {% set question = questions[questionNumber-1] %}
        {% set quiz = question.quizID|first %}
        {% set nextPage = "#{path('play')}#{quiz.id}" %}

        <div class="alert alert-light" role="alert">
            <h3>{{ quiz.name }}</h3>
            {{ quiz.description }} <br>
            <p class="question">
                Question {{ questionNumber }} out of {{ questions|length }}:
            </p>
            <p class="response"></p>
            <hr>
            {{ question.questionBody }}
            <hr>
            <div class="answers">
                {% for answer in question.answers %}
                    <button name="{{ answer.id }}" onclick="checkAnswer(this)" class="btn btn-outline-primary answerBtn">{{ answer.answerBody }}</button>
                {% endfor %}
            </div>
        </div>

        <form action="{{ nextPage }}">
            <button class="btn btn-primary btn-block" type="submit" disabled>Next >> </button>
        </form>

        <script>
            function checkAnswer(button){
                let answers = document.getElementsByClassName('btn-outline-primary');
                for(let answer of answers){
                    answer.setAttribute("disabled", true);
                }
                document.querySelector('.btn-block').removeAttribute("disabled");
                $.ajax({
                    type: "POST",
                    url: "{{ path('check') }}",
                    data: {
                        ans_id: button.name,
                        quest_id: {{ question.id }},
                        quiz_id: {{ quiz.id }},
                        user_id: {{ app.user.id }}
                    },
                    success: function(response){pull
                        button.classList.remove('btn-outline-primary');
                        if(response === true){
                            button.classList.add('btn-success');
                            button.innerHTML = "Correct! :)";
                        } else if(response === false){
                            button.classList.add('btn-danger');
                            button.innerHTML = "Wrong :`(";
                        }
                        if(response['error']){
                            document.querySelector('.response').innerHTML = response['error'];
                        }
                    }
                });
            }
        </script>

    {% else %}
        <h1>Quiz you are trying to access is closed</h1>
    {% endif %}
{% endblock %}
