{% extends 'base.html.twig' %}

{% block title %}QB {{ questions|first.quizID|first.name }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/play_quiz.css') }}">
{% endblock %}
{% block content %}
    <p>
        User id: {{ app.user.id }}
    </p>

    {% if questions|first.quizID|first.isActive %}

        {% set question = questions[questionNumber-1] %}
        {% set quiz = question.quizID|first %}
        {% if questionNumber == questions|length %}
            {% set nextPage = path('champoins') %}
        {% else %}
            {% set nextPage = "#{path('play')}#{quiz.id}/#{questionNumber+1}" %}
        {% endif %}
        {{ dump(quiz.id) }}
        <div class="alert alert-light" role="alert">
            <h3>{{ quiz.name }}</h3>
            {{ quiz.description }} <br>
            Question {{ questionNumber }} out of {{ questions|length }}:
            <hr>
            {{ question.questionBody }}
            <hr>
            <div class="answers">
                {% for answer in question.answers %}
                    <button name="{{ answer.id }}" onclick="checkAnswer(this)" class="btn btn-outline-primary">{{ answer.answerBody }}</button>
                {% endfor %}
            </div>
        </div>

        <br>
        <form action="{{ path('check') }}" method="post">
            <input type="text" name="ans_id" value="99">
            <input type="text" name="quest_id" value="{{ question.id }}">
            <input type="text" name="quiz_id" value="{{ quiz.id }}">
            <input type="text" name="user_id" value="{{ app.user.id }}">
            <button class="btn btn-primary" type="submit">Test check page</button>
        </form>
        <br>
        <form action="{{ nextPage }}">
            <button class="btn btn-primary" type="submit">Next Question</button>
        </form>

        <script>
            function checkAnswer(button){
                $.ajax({
                    type: "POST",
                    url: "{{ path('check') }}",
                    data: {
                        ans_id: button.name,
                        quest_id: {{ question.id }},
                        quiz_id: {{ quiz.id }},
                        user_id: {{ user.id }}
                    },
                    success: function(response){
                        if(response){
                            button.classList.remove('btn-outline-primary');
                            button.classList.add('btn-success');
                        } else{
                            button.classList.remove('btn-outline-primary');
                            button.classList.add('btn-danger');
                        }
                    }
                });

            }
        </script>

    {% else %}
        <h1>Quiz you are trying to access is closed</h1>
    {% endif %}
{% endblock %}
