{% extends 'base.html.twig' %}


{% block title %}{{ 'Create question'|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/question.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="form_box">
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {{ form_start(form) }}
        <h1 class="h3 mb-3 font-weight-normal">{{ 'Create new question!'|trans }}</h1>
        <hr>
        {{ form_row(form.QuestionBody, {'attr': {'placeholder': 'Input some question'|trans }}) }}

        <h3>{{ 'Answers'|trans }}</h3>
        <ul class="answers" data-prototype="{{ form_widget(form.answers.vars.prototype)|e('html_attr') }}">
            {% for answer in form.answers %}
                    {{ form_row(answer) }}
            {% endfor %}
        </ul>
        {{ form_errors(form) }}
        <hr>
        {{ form_row(form.save) }}
        {{ form_end(form) }}
        <hr>
    </div>

    <div class="addQuiz">
        <a href="{{ path('add_quiz') }}">{{ 'You can create a quiz!'|trans }}</a>
    </div>
    <script src="/js/questionAdd.js"></script>
{% endblock %}
