{% extends 'base.html.twig' %}
<<<<<<< HEAD
{% block title %}QB {{ 'signUp'|trans }}{% endblock %}
=======
{% block title %}QB {{ 'sign Up'|trans }}{% endblock %}
>>>>>>> 2e4e20f66144e16959d3694380ca864f25c9455a
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/register.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}

{% endblock %}
{% block content %}
    {% for flashError in app.flashes('verify_email_error') %}
        #<div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {{ form_start(registrationForm) }}
    <h1 class="h3 mb-3 font-weight-normal">{{ 'Join us'|trans }}!</h1>
    {{ form_row(registrationForm.name, {'attr':
        {
            'placeholder': 'Username'|trans ,
            'data-toggle': 'popover'|trans ,
            'data-content': '4-15 letters and numbers. Special symbols are not allowed.'|trans
        }}) }}
    {{ form_row(registrationForm.email, {'attr': {'placeholder': 'Email'|trans }}) }}
    {{ form_row(registrationForm.password.first, {'attr':
        {
            'placeholder': 'Password'|trans ,
            'data-toggle': 'popover'|trans ,
            'data-content': '6-25 letters and numbers. Passwords must match.'|trans,

        }}) }}
    {{ form_row(registrationForm.password.second, {'attr':
        {
            'placeholder': 'Confirm password'|trans,
        }}) }}
    {{ form_row(registrationForm.submit) }}
    <hr>

    <h1 class="h6 mb-3 font-weight-normal">{{ 'Alredy have an account'|trans }}?</h1>

    <a href="{{ path('app_login') }}" class="button">{{ 'Sign in'|trans }}</a>
    {{ form_end(registrationForm) }}
    <script src="{{ asset('js/register.js') }}" language='javascript' type='text/javascript'></script>
    <script src="{{ asset('js/popover.js') }}" language='javascript' type='text/javascript'></script>
{% endblock %}