{% extends 'base.html.twig' %}

{% block title %}{{ 'Password Reset Email Sent'|trans }}{% endblock %}
{% block content %}

        <h1 class="h3 mb-3 font-weight-normal">{{ 'Check your Email'|trans }}</h1>
        <p>
            {{ 'An email has been sent that contains'|trans }}
{#            <br>#}
            {{ 'a link that you can click to reset your password.'|trans }}
            <br>
            {{ 'This link will expire in '|trans }} {{ tokenLifetime|date('g') }} {{ ' hour(s)'|trans }}.
            <br>
            {{ 'If you don\'t receive an email please'|trans }}
{#            <br>#}
            {{ 'check your spam folder or'|trans }} <a href="{{ path('app_forgot_password_request') }}">{{ 'try again'|trans }}</a>.
        </p>

{% endblock %}
