{% extends 'base.html.twig' %}

{% block title %}QB Quiz{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/quizTable.css">
{% endblock %}
{% block content %}
    <h1>Table of existing quizzes</h1>

    <div class="container">
        <div class="containerFilterBtn">
            <form action="" method="get">
                <label for="filter">Filter by name: </label>
                <input name="filter" type="text">
                <button type="submit" class="btn btn-lg btn-primary filterBtn">Filter</button>
            </form>
        </div>
        <hr>
        <table class="quizzesTable">
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Quiz name', 'quiz.name') }}</th>
                <th>Quiz description</th>
                <th>Status</th>
                <th>{{ knp_pagination_sortable(pagination, 'Date of creation', 'quiz.dateOfCreation') }}</th>
                <th></th>
            </tr>
                {% for oneQuiz in pagination %}
                    <tr>
                        <td class="ceilForName">{{ oneQuiz.name }}</td>
                        <td class="ceilForDescription">{{ oneQuiz.Description }}</td>
                        {% if oneQuiz.isActive == true %}
                            <td><a>active</a></td>
                        {% else %}
                            <td><a>not active</a></td>
                        {% endif %}
                        <td>{{ oneQuiz.dateOfCreation|date("m.d.Y") }}</td>
                        <td class="gridin">
                            <a href="{{ path('edit_quiz', {'id': oneQuiz.id }) }}">Update</a>
                        </td>
                    </tr>
                {% endfor %}
        </table>
        <hr>
    </div>
    <div class="navigation text-center" id="navigationMenu">
        {{ knp_pagination_render(pagination) }}
    </div>
    <div>
        <a href="{{ path('add_quiz') }}"> Create a new quiz</a>
    </div>
    <script src="/js/shortenString.js"></script>
{% endblock %}
