{% extends 'base.html.twig' %}

{% block title %}QB {{ 'Quiz'|trans }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/quizTable.css">
{% endblock %}
{% block content %}
    <h1>{{ 'Table of existing quizzes'|trans }}</h1>

    <div class="container">
        <div class="containerFilterBtn">
            <form action="" method="get">
                <label for="filter">{{ 'Filter by name:'|trans }} </label>
                <input name="filter" type="text">
                <button type="submit" class="btn btn-lg btn-primary filterBtn">{{ 'Filter'|trans }}</button>
            </form>
        </div>
        <hr>
        <table class="quizzesTable">
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Quiz name'|trans, 'quiz.name') }}</th>
                <th>{{ 'Quiz description'|trans }}</th>
                <th>{{ 'Status'|trans }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Date of creation'|trans, 'quiz.dateOfCreation') }}</th>
                <th></th>
            </tr>
                {% for quiz in pagination %}
                    <tr>
                        <td class="ceilForName">{{ quiz.name }}</td>
                        <td class="ceilForDescription">{{ quiz.Description }}</td>
                        {% if quiz.isActive == true %}
                            <td><a>{{ 'active'|trans }}</a></td>
                        {% else %}
                            <td><a>{{ 'not active'|trans }}</a></td>
                        {% endif %}
                        <td>{{ quiz.dateOfCreation|date("m.d.Y") }}</td>
                        <td class="gridin">
                            <a href="{{ path('edit_quiz', {'id': quiz.id }) }}">{{ 'Update'|trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
        </table>
        <hr>
    </div>
    <div class="navigation text-center" id="navigationMenu">
        {{ knp_pagination_render(pagination) }}
    </div>
    <div>
        <a href="{{ path('add_quiz') }}">{{ 'Create a new quiz'|trans }}</a>
    </div>
    <script src="/js/shortenString.js"></script>
{% endblock %}
