{% extends 'base.html.twig' %}

{% block title %}QB {{ 'admin'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'Admin page'|trans }}</h1>
    <hr>
    <div>
        <a href="{{ path('quiz_page') }}">{{ 'Existing quizzes'|trans }}</a>
    </div>
    <div>
        <a href="{{ path('question_page') }}">{{ 'Existing questions'|trans }}</a>
    </div>
    <div>
        <a href="{{ path('users_table') }}">{{ 'Existing  users'|trans }}</a>
    </div>
{% endblock %}
