{% extends 'base.html.twig' %}
{% block title %}QB {{ 'Home'|trans }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/homepage.css') }}">
{% endblock %}
{% block content %}

    <h1 class="font-weight-normal">{{ 'Let`s play Quiz!'|trans }}</h1>
    <hr>
    <div class = "grid">
        {% for quiz in pagination %}
            <div class="quiz">
                <div class="quiz-content">

                    <h5>{{ quiz.name }}</h5>
                    <p>{{ quiz.Description }}</p>

                    <div class="append">
                        <div>
                            <small>{{ 'Quiz status'|trans }}: </small>
                            {% if quiz.isActive == 1 %}
                                <span class="badge badge-primary">{{ 'Active'|trans }}</span>
                            {% else %}
                                <span class="badge badge-danger">{{ 'Closed'|trans }}</span>
                            {% endif %}
                            <br>
                            <small>{{ 'Started'|trans }} {{ quiz.dateOfCreation|date("d.m.Y") }}</small>
                        </div>
                        <div>
                            <small>
                                {% if quizLeaders[quiz.id]|length > 0 %}
                                    {{ 'Leader'|trans }}: {{ quizLeaders[quiz.id]|first.userRelation.email }}
                                    <br>
                                    {{ 'with'|trans }} {{ quizLeaders[quiz.id]|first.correctAnswers }} {{ 'correct answers'|trans }}
                                {% endif %}
                            </small>
                        </div>
                    </div>

                </div>

                <div class="start">
                    {% if quiz.isActive == 1 %}

                        <form action="{{ path('play_quiz', {'quizID': quiz.id}) }}">

                            <button type="submit" class="btn btn-primary">{{ 'Let`s GO!'|trans }}</button>
                        </form>
                    {% else %}
                    <h5 class="font-weight-normal" style="font-size: 14px">
                        {{ 'Closed'|trans }}
                    </h5>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>


    <hr>
    <div class="navigation text-center" id="navigationMenu">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
