{% extends 'base.html.twig' %}

{% block title %}QB {{ 'Users'|trans }}{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/users_table.css') }}">
{% endblock %}
{% block content %}
    {% set users = pagination %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
        <h1 class="h3 mb-3 font-weight-normal">{{ 'Table of users'|trans }}</h1>
                <div class="row">
                    <div class="col-8 filters">
                        <form class="mx-4 my-2"  method="get">
                            <input placeholder="ID" type="text" name="id" class="form-control">
                            <input placeholder={{ 'Email'|trans }} type="text" name="email" class="form-control">
                            <input placeholder={{ 'name'|trans }} type="text" name="name" class="form-control">
                            <button class="btn btn-primary" type="submit">{{ 'Filter'|trans }}</button>
                        </form>
                    </div>

                    <div class="col-4 promotion">
                        <form class="mx-4 my-2" action="{{ path('promote') }}" method="post">
                            <input placeholder="Player ID" type="text" name="id" pattern="[0-9]{0,6}" class="form-control">
                            <button class="btn btn-primary" type="submit">{{ 'Promote to Admin'|trans }}</button>
                        </form>
                    </div>
                </div>
        <table class="table user-table">
            <thead>
            <tr>
                <th onclick="numberTableSort(this,true)" id="id-col" scope="col">
                    <img class="rounded float-left" src="{{ asset('sortable.png') }}" alt="">
                    {{ knp_pagination_sortable(users, 'ID', 'user.id') }}
                </th>
                <th id="email-col" scope="col">{{ knp_pagination_sortable(users, 'Email'|trans, 'user.email') }}</th>
                <th id="name-col" scope="col">{{ knp_pagination_sortable(users, 'Name'|trans, 'user.name') }}</th>
                <th id="status-col" scope="col">{{ knp_pagination_sortable(users, 'Status'|trans, 'user.is_active') }}</th>
                <th id="role-col" scope="col">{{ knp_pagination_sortable(users, 'Role'|trans, 'user.roles') }}</th>
                <th  id="action-col" scope="col"></th>
            </tr>
            </thead>
            {% if users|length > 0 %}
            <tbody>
            {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.email }}</td>
                <td>{{ user.name }}</td>
                <td class="user{{ user.id }}">
                    {% if user.isActive %}
                        <span class="badge badge-primary">{{ 'Active'|trans }}</span>
                    {% else %}
                        <span class="badge badge-danger">{{ 'Blocked'|trans }}</span>
                    {% endif %}
                </td>
                <td>
                    {% for role in user.roles %}
                        {% if role == 'ROLE_ADMIN' %}
                            <span class="badge badge-dark">{{ 'Admin'|trans }}</span>
                        {% endif %}
                    {% endfor %}
                </td>
                <td class="user{{ user.id }}">
                    <button type="button" onclick="switchStatus(this)" name="{{ user.id }}" class="btn btn-sm
                    {% if user.isActive %} btn-outline-danger">
                        <img src="{{ asset('block_user.png') }}" alt={{ 'Block'|trans }}>
                    {% else %} btn-outline-primary">
                        <img src="{{ asset('unlock_user.png') }}" alt={{ 'Unblock'|trans }}>
                    {% endif %}
                    </button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
            {% else %}
                <div class="alert alert-primary" role="alert">
                    <h1 class="h3 mb-3 font-weight-normal">{{ 'No matches'|trans }}</h1>
                    {{ 'Try to change filtering options'|trans }}
                </div>
            {% endif %}
        </table>
            </div>
        </div>
        {{ knp_pagination_render(pagination) }}
    </div>

    <script>
        function switchStatus(button){
            $.ajax({
                type: "POST",
                url: "{{ path('status') }}",
                data: {
                    user_id: button.name,
                },
                success: function(response){
                    let cells = document.getElementsByClassName('user'+response['user_id']);
                        if(response['error']){
                            cells[1].innerHTML = "Error";
                        }
                        else{
                            if(response['status']){
                                cells[0].innerHTML = "<span class=\"badge badge-primary\">{{ 'Active'|trans }}</span>";
                                button.classList.remove('btn-outline-primary');
                                button.classList.add('btn-outline-danger');
                                button.innerHTML = "<img src=\'{{ asset('block_user.png') }}\'>";
                            }
                            else {
                                cells[0].innerHTML = "<span class=\"badge badge-danger\">{{ 'Blocked'|trans }}</span>";
                                button.classList.remove('btn-outline-danger');
                                button.classList.add('btn-outline-primary');
                                button.innerHTML = "<img src=\'{{ asset('unlock_user.png') }}\'>";
                            }
                        }
                }
            });
        }
    </script>
{% endblock %}
