{% extends 'base.html.twig' %}

{% block title %}QB {{ 'Leaders'|trans }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/leaderboard.css') }}">
{% endblock %}
{% block content %}
    {% if champs|length > 0 %}
    <h1>{{ 'Quiz:'|trans }} {{ champs|first.quizRelation.name }}</h1>
    <h3>{{ 'Leaderboard'|trans }}</h3>
    <div class="leaderboard">
        <b><div>{{ 'User'|trans }}</div></b>
        <b><div>{{ 'Guessed'|trans }}</div></b>
        <b><div>{{ 'Time to solve'|trans }}</div></b>
        {% for champ in champs %}
            <div>{{ champ.userRelation.email }}</div>
            <div>{{ champ.correctAnswers }}</div>
            <div>{{ times[loop.index-1] }}</div>
        {% endfor %}
    </div>
    {% else %}
    <h1>{{ 'No leaders in this quiz yet'|trans }}</h1>
    {% endif %}
{% endblock %}
