{% extends 'base.html.twig' %}

{% block title %}QB Edit Question{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/question.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/editQuiz.css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% block content %}
    <div id = "blackSquare"></div>
    <div id="content" class="content">
        <div class="form_box">
            {{ form_start(form) }}
            <h1 class="h3 mb-3 font-weight-normal">Create new question!</h1>
            <hr>
            {{ form_row(form.QuestionBody, {'attr': {'placeholder': 'Input some question'}}) }}

            <h3>Answers</h3>
            <ul class="answers" data-prototype="{{ form_widget(form.answers.vars.prototype)|e('html_attr') }}">
                {% for answer in form.answers %}
                    <li>
                        {{ form_row(answer) }}
                    </li>
                {% endfor %}
            </ul>

            <hr>
            {{ form_row(form.save) }}
            {{ form_end(form) }}

            <div class="deleteBtn">
                <a id="deleteBtnLink" class="deleteBtnLink" href="#" >You can delete this question</a>
            </div>
        </div>
    </div>
    <div id = "window_box" class="window_box">
        <div class="window" id = "window">
            <div class="text_container">
                <a class="tittle_text">Are you shure to delete this question?</a>
            </div>
            <div class="button_container" >
                <div style="width: 50%; margin: 0 auto"><a href="{{path('delete_question', {'id': id })}}" ><button class="btn btn-lg btn-primary">Yes</button></a></div>
                <div style="width: 50%; margin: 0 auto"><a href="{{path('edit_question', {'id': id })}}" ><button class="btn btn-lg btn-primary red">No</button></a></div>
            </div>
        </div>
    </div>
    <script src="/js/deleteBtn.js"></script>
    <script src="/js/questionCreation.js"></script>
{% endblock %}
