{% extends 'base.html.twig' %}

{% block title %}QB Edit Quiz{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/quiz.css">
    <link rel="stylesheet" type="text/css" href="/css/editQuiz.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
{% endblock %}
{% block content %}
    <div id = "blackSquare">

    </div>
<div id="content" class="content">
    <div class="form_box">
        <h1 class="h3 mb-3 font-weight-normal">Edit Quiz</h1>
        <hr>

        {{ form_start(form) }}
        {{ form_row(form.name, {'attr': {'placeholder': 'Input quiz name'}}) }}
        {{ form_row(form.Description, {'attr': {'placeholder': 'Input short quiz description'}}) }}


        <a>Is quiz active for users?</a>
        {{ form_row(form.isActive) }}

        <hr>

        {{ form_row(form.questionID, {'attr': {'class' : 'js-example-basic-multiple'}, 'label' : 'Choose and add some questions: '}) }}
        <div class="createQuestion">
            <a href="{{path('add_question')}}">You can create a new question</a>
        </div>
        <hr>

        {{ form_row(form.save) }}
        {{ form_end(form) }}
        <div class="deleteBtn">
            <a id="deleteBtnLink" class="deleteBtnLink" href="#" >You can delete this quiz</a>
        </div>
    </div>



    <script src="/js/select2.js"></script>
    <script src="/js/deleteBtn.js"></script>
</div>
    <div id = "window_box" class="window_box">
        <div class="window" id = "window">
            <div class="text_container">
                <a class="tittle_text">Are you shure to delete this quiz?</a>
            </div>
            <div class="button_container" >
                <div style="width: 50%; margin: 0 auto"><a href="{{path('delete_quiz', {'id': id })}}" ><button class="btn btn-lg btn-primary">Yes</button></a></div>
                <div style="width: 50%; margin: 0 auto"><a href="{{path('edit_quiz', {'id': id })}}" ><button class="btn btn-lg btn-primary red">No</button></a></div>
            </div>
        </div>
    </div>

{% endblock %}


