{% extends 'base.html.twig' %}

{% block title %}QB Question{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/questionTable.css">
{% endblock %}

{% block content %}
    <h1>Table of existing questions</h1>
    <div class="containerFilterBtn">
        <form action="" method="get">
            <label for="filter">Search by name: </label>
            <input name="filter" type="text">
            <button type="submit" class="btn btn-lg btn-primary filterBtn">Filter</button>
        </form>
    </div>
    <table style=" width: 100%">
        <tr >
            <th>{{  knp_pagination_sortable(pagination, 'Questions', 'question.id') }}</th>
            <th>Answers</th>
            <th></th>
        </tr>
        {% for oneQuestion in pagination %}
            <tr >
                <td class="questionBodyCeil">{{ oneQuestion.QuestionBody }}</td>
                <td class="answerBodyCeil">{{ oneQuestion.getAnswerBodys() }}</td>
                <td class="updateBtnCeil"><a href="{{ path('edit_question', {'id': oneQuestion.id }) }}">Update</a></td>
            </tr>
        {% endfor %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
