{% extends 'base.html.twig' %}

{% block title %}QB {{ 'Question'|trans }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/questionTable.css">
{% endblock %}

{% block content %}
    <h1>{{ 'Table of existing questions'|trans }}</h1>
    <div class="containerFilterBtn">
        <form action="" method="get">

            <label for="filter">{{ 'Search by name:'|trans }} </label>

            <input name="filter" type="text">
            <button type="submit" class="btn btn-lg btn-primary filterBtn">{{ 'Filter'|trans }}</button>
        </form>
    </div>
    <table style=" width: 100%">
        <tr >
            <th>{{  knp_pagination_sortable(pagination, 'Questions'|trans, 'question.id') }}</th>
            <th>{{ 'Answers'|trans }}</th>
            <th></th>
        </tr>
        {% for oneQuestion in pagination %}
            <tr >
                <td class="questionBodyCeil">{{ oneQuestion.QuestionBody }}</td>
                <td class="answerBodyCeil">{{ oneQuestion.getAnswerBodysArr()|join(', ')}}</td>
<<<<<<< HEAD
{#                <td>{{ oneQuestion.getQuizArr()|join(', ') }}</td>#}
=======
>>>>>>> 2e4e20f66144e16959d3694380ca864f25c9455a
                <td class="updateBtnCeil"><a href="{{ path('edit_question', {'id': oneQuestion.id }) }}">{{ 'Update'|trans }}</a></td>
            </tr>

        {% endfor %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    <div>
        <a href="{{path('add_question')}}">{{ 'You can add a new question'|trans }}</a>
    </div>

{% endblock %}
