{% extends 'base.html.twig' %}

{% block title %}Create quiz{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/quiz.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1 class="h3 mb-3 font-weight-normal">Create new quiz!</h1>
    <hr>
{#    <select class="js-example-basic-multiple" name="states[]" multiple="multiple" style="width: 500px">#}
{#        {% for question in questionsArr %}#}
{#            <option id = "{{ question.QuestionBody }}"> {{ question.QuestionBody }} </option>#}
{#        {% endfor %}#}
{#    </select>#}
    {{ form_start(form) }}
    {{ form_row(form.name, {'attr': {'placeholder': 'Input quiz name'}}) }}
    {{ form_row(form.Description, {'attr': {'placeholder': 'Input short quiz description'}}) }}

    <div>
        <label>Is quiz active for users?</label>
    </div>

    {{ form_row(form.isActive) }}
    {{ form_row(form.questionID, {'attr': {'placeholder': 'Start typing a question', 'class' : 'js-example-basic-multiple'}, 'label' : false}) }}
    <hr>
    {{ form_row(form.save) }}
    {{ form_end(form) }}
    <script>
        $(document).ready(function() {
            $('.js-example-basic-multiple').select2();
        });
    </script>
{% endblock %}
